<div class="nav-other">
  <span class="nav-other-link">
    <button (click)="handleNavClick('/obavjestenja')" mat-flat-button [disableRipple]="true">
      Obavještenja
    </button>
  </span>
  <span class="nav-other-link">
    <button (click)="handleNavClick('http://jn.ks.gov.ba/node?field_organizacija_value=98')" mat-flat-button [disableRipple]="true">
      Javne nabavke
    </button>
  </span>
  <span class="nav-other-link">
    <button (click)="handleNavClick(null)" mat-flat-button [disableRipple]="true">
      Drugi linkovi
    </button>
  </span>
</div>
