@import "../../../../../variables";
//Top links on the right side of navbar
.nav-other {
  text-align: right;

  .nav-other-link {
    position: relative;
    .dropdown-inactive {
      display: none;
    }

    .dropdown-active {
      display: block;
    }

    &:nth-child(1):after {
      content: "\22C5";
      padding-left: 10px;
    }

    &:nth-child(2):after {
      content: "\22C5";
    }

    &:nth-child(3):after {
      content: "\22C5";
    }

    a,
    span {
      user-select: none;
      display: inline-block;
      color: mat-color($app-primary);
      padding: 10px;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      text-decoration: none;
      @include hover-transition();

      &:hover {
        color: mat-color($app-accent, A400);
      }

      @media (max-width: 768px) {
        display: block;
        @include mobile-nav-items();
        text-transform: none;
        &:hover {
          color: mat-color($app-primary);
        }
      }

      @media (max-width: 300px) {
        width: 300px;
      }
    }

    span {
      transition-property: none;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      border-right: 3px solid #fff;
      img {
        height: 12px;
        width: 12px;
      }

      @media (max-width: 768px) {
        border-right: 0;
      }
    }
    @media (max-width: 768px) {
      display: block;
      &:nth-child(1):after {
        content: none;
        padding: 0;
      }

      &:nth-child(2):after {
        content: none;
        padding: 0;
      }

      &:nth-child(3):after {
        content: none;
        padding: 0;
      }
    }
  }

  .dropdown-active {
    span {
      color: mat-color($app-primary);
      background-color: mat-color($app-accent, 50);
      border-right: 3px solid mat-color($app-primary);

      &:hover {
        color: mat-color($app-primary);
      }

      @media (max-width: 768px) {
        @include mobile-nav-items();
        border-right: 0;
      }

      @media (max-width: 300px) {
        width: 300px;
      }
    }
  }
}
