<div class="nav-other">
  <span class="nav-other-link">
    <button (click)="handleNavClick($event)" mat-flat-button [disableRipple]="true">
      Obavještenja
    </button>
  </span>
  <span class="nav-other-link">
    <button (click)="handleNavClick($event)" mat-flat-button [disableRipple]="true">
      Javne nabavke
    </button>
  </span>
  <span class="nav-other-link">
    <button (click)="handleNavClick($event)" mat-flat-button [disableRipple]="true">
      Drugi linkovi
    </button>
  </span>
</div>
