@import "../../../variables";

.footer {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 10%;
  background-color: mat-color($app-primary, 700);

  .item {
    margin: 10px 2.5%;
  }
}
