@import "../../../variables";

.nav {

  //Global nav styles
  padding: 0 2%;
  height: 130px;
  background-color: white;
  border-bottom: 3px solid mat-color($app-primary);
  margin-bottom: 50px;

  .nav-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 30px 0;
    align-items: center;

    .nav-spacer {
      flex: 1 1 auto;
    }

    //Logo styles
    span {
      img {
        padding: 5px 10px;
        height: 100px;
        cursor: pointer;
      }
    }



    //Bottom links on the right side of navbar
    ul {
      padding: 0;
      margin: 0;
      position: relative;
      bottom: -36px;
      list-style: none;

      .nav-item {
        display: inline-block;
        background-color: mat-color($app-accent, A200);
        border-bottom: 2px solid mat-color($app-accent, A200);
        padding: 5px 20px 3px 20px;
        cursor: pointer;
        @include hover-transition();
        a {
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;
          color: mat-color($app-primary);
        }

        &:hover {
          background-color: mat-color($app-accent);
          border-bottom: 2px solid mat-color($app-primary);
        }
      }
    }
  }


  //Top links on the right side of navbar
  .nav-other {
    text-align: end;
    .nav-other-link {
      color: mat-color($app-primary);
      padding: 5px 0;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      text-decoration: none;
      @include hover-transition();

      &:hover {
        color: mat-color($app-accent, A400);
      }

      &:nth-child(1):after {
        content: "\22C5";
        padding: 3px;
      }

      &:nth-child(2):after {
        content: "\22C5";
        padding: 3px;
      }
    }
  }
}
