<mat-toolbar class="nav">
  <div class="nav-content">
    <span>
      <img src="../../../assets/unsa-logo.svg" alt="University logo" />
      <img src="../../../assets/etf-logo.svg" alt="Faculty logo" />
    </span>
    <span class="nav-spacer"></span>
    <div class="nav-links">
      <div class="nav-other">
        <a href="" class="nav-other-link">Obavještenja</a>
        <a href="" class="nav-other-link">Javne nabavke</a>
        <a href="" class="nav-other-link">Drugi linkovi</a>
      </div>
      <ul>
        <li class="nav-item"><a href="">O fakultetu</a></li>
        <li class="nav-item"><a href="">Studij</a></li>
        <li class="nav-item"><a href="">Odsjeci</a></li>
        <li class="nav-item"><a href="">Naučni rad</a></li>
      </ul>
    </div>
  </div>
</mat-toolbar>
