<div class="nav" [ngClass]="isMenuOpen ? 'open-menu' : null">
  <div class="nav-content">
    <app-logos [isMenuOpen]="isMenuOpen" (navClick)="navClick()"></app-logos>
    <span class="nav-spacer"></span>
    <app-language-icon *ngIf="shouldRenderLanguageIcon"></app-language-icon>
    <app-menu-icon
      [isMenuOpen]="isMenuOpen"
      (toggleMenu)="toggleMenu()"
    ></app-menu-icon>
    <div class="nav-links">
      <app-nav-other-links
        (navClick)="navClick()"
        [isDropDownOpen]="isDropDownOpen"
        (toggleDropDown)="toggleDropDown()"
      ></app-nav-other-links>
      <app-nav-main-links (navClick)="navClick()"></app-nav-main-links>
    </div>
  </div>
</div>
