<div class="flex-container">
  <div class="title">
    <app-breadcrumbs
      [routes]="routes"
      [currentRoute]="'Nostrifikacija i ekvivalencija'"
    ></app-breadcrumbs>
    <h1>Nostrifikacija i ekvivalencija</h1>
  </div>
  <div class="content-container">
    <div class="main-content">
      <h2>
        Nostrifikacija i ekvivalencija inostranih diploma i javnih isprava
      </h2>
      <p>
        Fakultet NE VRŠI nostrifikaciju diploma i ekvivalenciju javnih isprava
        ako su stečene na srodnim ustanovama u inostranstvu.
      </p>

      <p>
        Nostrifikacijom se diplomi o završenom visokom obrazovanju, stručnom ili
        naučnom stepenu stečenom u inostranstvu, priznaje ravnopravnost sa
        diplomom stečenom na Univerzitetu, kao i druga prava koja ta diploma da.
      </p>

      <p>
        Ekvivalencijom se odgovarajućoj javnoj ispravi o započetom visokom
        obrazovanju u inostranstvu priznaje ravnopravnost sa odgovarajućom
        javnom ispravom o završenim godinama studija, semestrima i trimestrima
        ili položenim ispitima na Univerzitetu, radi nastavka školovanja.
      </p>

      <p>
        Pod javnim ispravama, u smislu ovog Pravilnika, smatra se svjedočanstvo
        i uvjerenje izdato od odgovarajuće ustanove.
      </p>

      <p>
        Nostrifikacija diploma, odnosno ekvivalencija javnih isprava vrši se na
        zahtjev državljana Bosne i Hercegovine, kao i stranih državljana,
        odnosno lica bez državljanstva koji za to imaju pravni interes u Bosni i
        Hercegovini.
      </p>

      <p>
        Za sva pitanja vezana za ovu tematiku zainteresovani se trebaju
        odbratiti <a href="https://www.unsa.ba/">Univerzitetu u Sarajevu</a>.
      </p>
    </div>
    <app-additional-navigation
      [routes]="additionalRoutes"
      [currentRouteIndex]="2"
    ></app-additional-navigation>
  </div>
</div>
