@import "../../../../../variables";

.menu-icon {
  display: none;
  &:active {
    background-color: mat-color($app-accent, 50);
  }
  height: 20px;
  width: 20px;
  @media (max-width: 768px) {
    display: block;
    border-radius: 50%;
    padding: 12px;
    img {
      height: 20px;
      width: 20px;
    }
    border: 1px solid mat-color($app-primary);
    background-color: #fff;
  }

  @media (max-width: 600px) {
    height: 15px;
    width: 15px;
    padding: 8px;
    img {
      height: 15px;
      width: 15px;
    }
  }
}

.open-menu {
  @media (max-width: 768px) {
    background-color: mat-color($app-accent, A200);
    border: 1px solid #fff;
  }
}
