<div class="flex-container">
  <div class="title">
    <app-breadcrumbs
      [routes]="routes"
      [currentRoute]="'Studij'"
    ></app-breadcrumbs>
    <h1>Studij</h1>
  </div>
  <div class="content-container">
    <div class="main-content">
      <p>
        Elektrotehnički fakultet Univerziteta u Sarajevu predstavlja najstariju
        i najveću visokoškolsku ustanovu u Bosni i Hercegovini, koja školuje
        kadrove iz različitih oblasti elektrotehnike i računarstva.
      </p>

      <p>
        Od svog osnivanja 1961. godine, Elektrotehnički fakultet obrazuje vodeće
        stručnjake u oblasti automatike i elektronike, elektroenergetike,
        računarstva i informatike, telekomunikacija. Studij na Elektrotehničkom
        fakultetu u Sarajevu je u proteklih preko 50 godina završilo 5187
        diplomiranih inžinjera, 445 magistara nauka i 108 doktora tehničkih
        nauka. Svi oni su zaposlenje pronašli ne samo u Bosni i Hercegovini,
        nego i širom svijeta, u SAD, Kanadi, Australiji, Velikoj Britaniji,
        Francuskoj, Njemačkoj, Austriji, Švicarskoj, Japanu i drugim tehnološki
        najrazvijenijim zemljama svijeta. Stručnjaci sa diplomom stečenom na
        Elektrotehničkom fakultetu u Sarajevu rade u najvećim svjetskim
        kompanijama i pri tome se nikada nije postavljalo pitanje da li ovu
        diplomu priznati ili ne.
      </p>

      <p>
        Ovim se teško može pohvaliti bilo koja druga javna ili privatna
        visokoškolska ustanova u Bosni i Hercegovini.
      </p>

      <p>
        Danas se studij na Elektrotehničkom fakultetu u Sarajevu odvija u tri
        ciklusa (Bachelor, Master i Doktorski studij), po programima usklađenim
        sa programima sličnih visokoškolskih ustanova u Evropi i trenutno na
        Elektrotehničkom fakultetu u Sarajevu studira 1015 studenata Prvog
        ciklusa, 322 studenata Drugog ciklusa i 44 studenata na doktorskom
        studija. Od studijske 2005/2006. godine, od kada se nastava izvodi po
        novim programima, studij je uspješno okončalo 685 studenata Prvog
        ciklusa i 320 studenata Drugog ciklusa.
      </p>

      <p>
        Svake godine određeni broj studenata odluči da svoje obrazovanje nastavi
        na prestižnim svjetskim univerzitetima u Njemačkoj, Austriji, Japanu i
        pri tome im budu priznati svi krediti prikupljeni tokom studija na
        Elektrotehničkom fakultetu u Sarajevu.
      </p>

      <p>
        Od 2012. godine su studijski programi Prvog ciklusa na Elektrotehničkom
        fakultetu u Sarajevu dobili međunarodni certifikat od akreditacijske
        agencije za studijske programe ASIIN iz Njemačke, čime ova
        akreditacijska agencija potvrđuje da su studijski programi Prvog ciklusa
        iz oblasti iz automatike i elektronike, elektroenergetike, računarstva i
        informatike i telekomunikacija po svom sadržaju i načinu izvođenja u
        potpunosti podudarni sa normama visokog obrazovanja koje vrijede u
        Evropskoj uniji.
      </p>
    </div>
    <app-additional-navigation
      [routes]="additionalRoutes"
    ></app-additional-navigation>
  </div>
</div>
