@import "../../../variables";

.news-container {
  background-color: mat-color($app-accent, A200);
  box-sizing: border-box;
  padding: 15px 5%;
  width: 100%;
  margin: 20px 0;

  h1 {
    text-align: center;
    color: mat-color($app-primary);
  }

  .all-news {
    text-align: center;
    margin: 20px 0;
    a {
      border-radius: 5px;
      @include hover-transition();
      padding: 10px 20px;
      text-decoration: none;
      background-color: mat-color($app-primary);
      color: white;

      &:hover {
        background-color: mat-color($app-primary, 400);
      }

      @media (max-width: 768px) {
        padding: 10px 15vw;
      }

      @media (max-width: 300px) {
        padding: 10px 45px;
      }
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .news-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px 0;

    .news-button {
      user-select: none;
      display: flex;
      padding: 10px;
      text-align: center;
      color: #fff;
      flex-grow: 10%;
      background-color: mat-color($app-primary);
      align-items: center;
      cursor: pointer;
      @include hover-transition();

      img {
        height: 10px;
        width: 10px;
      }

      &:hover {
        background-color: mat-color($app-primary, 400);
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    .news {
      h3 {
        font-weight: 600;
      }

      a {
        padding: 0 5px;
        text-decoration: none;
        color: mat-color($app-primary);
        @include hover-transition();
        &:hover {
          color: mat-color($app-primary, 300);
        }
      }

      display: none;
      border: 2px solid mat-color($app-primary);
      border-right: 0;
      border-left: 0;
      box-sizing: border-box;
      padding: 10px;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      background-color: #fff;

      @media (max-width: 768px) {
        width: 80vw;
        text-align: center;
      }

      @media (max-width: 300px) {
        width: 240px;
      }
    }

    .active {
      display: flex !important;
    }

    @media (max-width: 768px) {
      // flex-direction: column;
      // align-items: center;
    }
  }

  @media (max-width: 768px) {
    margin-top: 3vw;
  }

  @media (max-width: 700px) {
    margin-top: 4vw;
  }

  @media (max-width: 650px) {
    margin-top: 6vw;
  }

  @media (max-width: 600px) {
    margin-top: 2vw;
  }

  @media (max-width: 500px) {
    margin-top: 10vw;
  }

  @media (max-width: 450px) {
    margin-top: 0;
  }

  @media (max-width: 400px) {
    margin-top: 15vw;
  }

  @media (max-width: 350px) {
    margin-top: 5vw;
  }

  @media (max-width: 300px) {
    margin-top: 20px;
  }
}
