<div class="news-container">
  <h1>Novosti i obavještenja</h1>
  <div class="news-wrapper">
    <div class="news-button" (click)="handleNewsChange('left')">
      <img src="assets/arrow-icon-left-light.svg" alt="arrow left" /></div>
    <div class="news" [ngClass]="current === 1 ? 'active' : null">
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non provident
        animi dicta veniam, corrupti, est perspiciatis ea inventore earum rem
        beatae.
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolor
        vero nesciunt totam qu...  <a routerLink="/obavjestenja">Detaljnije</a>
      </p>
    </div>
    <div class="news" [ngClass]="current === 2 ? 'active' : null">
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolor
        vero nesciunt totam qu...  <a routerLink="/obavjestenja">Detaljnije</a>
      </p>
    </div>
    <div class="news" [ngClass]="current === 3 ? 'active' : null">
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non provident
        animi dicta veniam.
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolor
        vero nesciunt totam qu...  <a routerLink="/obavjestenja">Detaljnije</a>
      </p>
    </div>
    <div class="news-button" (click)="handleNewsChange('right')">
      <img src="assets/arrow-icon-right-light.svg" alt="arrow right" />
    </div>
  </div>
  <div class="all-news"><a routerLink="/obavjestenja">Sve novosti</a></div>
</div>
