<div class="news-container">
  <h1>Novosti i obavještenja</h1>
  <div class="news-wrapper">
    <div class="news-button" (click)="handleNewsChange('left')">
      <img src="assets/arrow-icon-left-light.svg" alt="arrow left" />
    </div>
    <div
      *ngFor="let newsPiece of news; let i = index"
      class="news"
      [ngClass]="current === i ? 'active' : null"
    >
      <h3>
        {{ newsPiece.title }}
      </h3>
      <p
        *ngFor="
          let paragraph of newsPiece.text.substr(0, 230).split('\n') | slice:0:7;
          let last = last
        "
      >
        {{ paragraph + (last ? "..." : "") }}
        <a *ngIf="last" [routerLink]="['/obavjestenja', newsPiece.id]">
          Detaljnije
        </a>
      </p>
    </div>

    <div class="news-button" (click)="handleNewsChange('right')">
      <img src="assets/arrow-icon-right-light.svg" alt="arrow right" />
    </div>
  </div>
  <div class="all-news"><a routerLink="/obavjestenja">Sve novosti</a></div>
</div>
