<div class="flex-container">
  <div class="title">
    <app-breadcrumbs
      [routes]="routes"
      [currentRoute]="'Službe'"
    ></app-breadcrumbs>
    <h1>Službe</h1>
  </div>
  <div class="content-container">
    <div class="main-content">
      <h2>Dekanat</h2>
      <p>
        <span class="emphasis">Dekan ETF-a Sarajevo</span><br />
        Prof. dr <a href="mailto:dekan@etf.unsa.ba">Jasmin VELAGIĆ </a>, dipl.
        el. ing.
      </p>

      <p>
        <span class="emphasis">Prodekan za opšte i finansijske poslove</span
        ><br />
        Doc. dr.
        <a href="mailto:prodekan@etf.unsa.ba">Selma HANJALIĆ </a>, dipl.el.ing
      </p>

      <p>
        <span class="emphasis"> Prodekan za nastavu</span><br />
        Prof. dr.
        <a href="mailto:prodekan.nastava@etf.unsa.ba">Željko JURIĆ </a>,
        dipl.el.ing
      </p>

      <p>
        <span class="emphasis">Prodekan za naučno istraživački rad</span><br />
        Doc. dr.
        <a href="mailto:prodekan.nastava@etf.unsa.ba">Tarik UZUNOVIĆ </a>, dipl.
        el. ing.
      </p>
      <h2>Studentska služba</h2>
      <p>
        Studentska služba ETF-a Sarajevo se nalazi na prizemlju spratu zgrade
        ETF-a, Kampus Univerziteta u Sarajevu. Radno vrijeme za stranke je
        svakim radnim danom, osim srijede u terminu od 10.00 do 13.00 h.
      </p>
      <p>
        <span class="emphasis">Telefon:</span> ++ 387 033 250 709 <br />
        <span class="emphasis">Email:</span>
        <a href="mailto:studentska@etf.unsa.ba"> studentska@etf.unsa.ba</a>
      </p>
      <p>
        <span class="emphasis">Rukovodilac studentske službe</span> <br />
        Marina Krpić, Diplomirani pravnik
      </p>
      <p>
        <span class="emphasis">Referent</span> <br />
        Elma Džanko, Magistar menadžmenta
      </p>
      <p>
        <span class="emphasis">Referent</span> <br />
        Sanela Pamuk, Bečelor predškolskog odgoja
      </p>

      <h2>Pravna služba</h2>
      <p>
        <span class="emphasis">
          Rukovodilac pravne službe/Sekretar Vijeća Fakulteta
        </span>
        <br />
        Dženita Šabanadžović, Diplomirani pravnik
      </p>

      <p>
        <span class="emphasis">Referent za opšte administrativne poslove</span>
        <br />
        Ilvana Poljo, Diplomirani pravnik
      </p>
      <p>
        <span class="emphasis">Referent za kadrovske i opšte poslove</span>
        <br />
        Nejra Fočo, Diplomirani pravnik
      </p>

      <h2>Finansijska služba</h2>
      <p>
        <span class="emphasis">
          Referent za poslove blagajnika
        </span>
        <br />
        Meliha Bajraktarević
      </p>

      <h2>Služba za tehničku podršku</h2>
      <p>
        <span class="emphasis">Ekonom</span> <br />
        Vujanović Ranko
      </p>

      <p>
        <span class="emphasis">Zaposlenik na održavanju objekta</span> <br />
        Emir Gojak
      </p>
      <p>
        <span class="emphasis">Zaposlenik na telefonskoj centrali</span>
        <br />Munira Balaš
      </p>
      <p>
        <span class="emphasis">Zaposlenik za pomoćne poslove</span> <br />
        Hasanović Muris
      </p>
      <p>
        <span class="emphasis">Higijeničarka</span> <br />
        Sarajčić Ajka
      </p>
      <p>
        <span class="emphasis">Higijeničarka</span> <br />
        Gojak Emina
      </p>
      <p>
        <span class="emphasis">Higijeničarka</span> <br />
        Šetkić Behija
      </p>
      <p>
        <span class="emphasis">Higijeničarka</span> <br />
        Pribinja Amila
      </p>
      <h2>Sektor za naučno-istraživačku djelatnost</h2>

      <p>
        <span class="emphasis">Voditelj laboratorije</span> <br />
        dr. sc. Vedad Bečirović
      </p>

      <p>
        <span class="emphasis">Voditelj laboratorije</span> <br />
        mr. sc. Nedim Osmić
      </p>
      <p>
        <span class="emphasis">Voditelj laboratorije</span> <br />
        mr. sc. Mirza Hamza
      </p>
      <p>
        <span class="emphasis">Laborant</span> <br />
        Ahmed Karavdić
      </p>

      <h2>Ostali zajednički poslovi</h2>
      <p>
        <span class="emphasis"
          >Referent za organizaciju stručnih i naučnih skupova</span
        >
        <br />
        Sanda Šljivo
      </p>

      <p>
        <span class="emphasis">ICTS Support</span>
        <br />
        Ernedin Zajko
      </p>
    </div>

    <app-additional-navigation
      [routes]="additionalRoutes"
      [currentRouteIndex]="0"
    ></app-additional-navigation>
  </div>
</div>
