<div class="flex-container">
  <div class="title">
    <app-breadcrumbs
      [routes]="routes"
      [currentRoute]="'O Fakultetu'"
    ></app-breadcrumbs>
    <h1>O Fakultetu</h1>
  </div>
  <div class="content-container">
    <div class="main-content">
      <p>
        Elektrotehnički fakultet u Sarajevu je osnovan 1961. godine, a prva
        generacija studenata upisana je godinu dana ranije, u okviru tad
        postojećeg Tehničkog fakulteta u Sarajevu.
      </p>

      <p>
        Fakultet je danas smješten u prostoru Kampusa Univerziteta u Sarajevu u
        objektima čija površina omogućuje standard od cca 5 m2 po studentu. Za
        izvjesne laboratorijske vježbe Fakultet koristi i kapacitete javnih
        preduzeća JP Elektroprivreda BiH i Telecom BiH.
      </p>

      <p>
        Od osnutka pa do danas na Elektrotehničkom fakultetu u Sarajevu
        <br />
        - diplomirala su 4646 studenta <br />
        - stupanj magistra steklo je 312 kandidata <br />
        - stupanj doktora tehničkih nauka steklo je 105 kandidata.
      </p>

      <p>
        Na Fakultetu danas u stalnom radnom odnosu radi:
        <br />- 32 nastavnika <br />- 31 asistent.
      </p>

      <p>
        U dopunskom radnom odnosu angažirano je: <br />- 24 nastavnika <br />-
        40 asistenata.
      </p>

      <p>
        U tekućoj akademskoj 2007/2008 na Fakultet je upisano <br />- 1564
        studenta na dodiplomski studij (ETF-AB+ETF-B) <br />- 287 studenata na
        postdiplomski magistarski studij.
      </p>

      <p>
        Studij se odvija u okviru četiri odsjeka:
        <br />- Odsjek za automatiku i elektroniku na kome studira 220 studenata
        na ETF-AB+ETF-B i 34 na postdiplomskom magistarskom studiju; <br />-
        Odsjek za elektroenergetiku na kome studira 243 studenta na ETF-AB+ETF-B
        i 35 na postdiplomskom magistarskom studiju; <br />- Odsjek za
        računarstvo i informatiku na kome studira 572 studenata na ETF-AB+ETF-B
        i 106 na postdiplomskom magistarskom studiju; <br />- Odsjek za
        telekomunikacije na kome studira 529 studenata na ETF-AB+ETF-B i 112 na
        postdiplomskom magistarskom studiju.
      </p>
      <p>
        Nastava se danas na svakom od četiri Odsjeka realizira prema dva
        nastavna programa: <br>- Stari program (ETF- AB - Ante Bologna) <br>- Novi
        program (ETF – B – Bologna)
      </p>

      <p>
        Po starom nastavnom programu danas se nastava odvija samo na četvrtoj i
        petoj godini; nakon što apsolviraju studenti današnje četvrte godine
        ovaj studij se gasi. Nastava po ovom programu traje devet semestara, a
        student nakon polaganja svih ispita stječe pravo na izradu diplomskog
        rada, poslije čije odbrane postaje posjednik zvanja diplomirani inženjer
        elektrotehnike, uz naznaku odgovarajućeg Odsjeka.
      </p>
      <p>
        Po novom nastavnom programu, koji je usklađen s principima Bolonjskog
        procesa i kreditnim sistemom (ECTS – European credit transfer system), u
        ovoj akademskoj godini upisana je treća po redu generacija studenata
        Elektrotehničkog fakulteta u Sarajevu.
      </p>

      <p>
        Novi nastavni program omogućuje mobilnost studenata tokom studija i
        ekvivalenciju diploma u okviru Europskog visokoškolskog ambijenta (ERA i
        EHEA). Studenti koji studiraju po novom nastavnom programu, nakon
        završetka treće godine (prvi ciklus) i postignutih 180 ECTS bodova
        (uključen i završni rad koji donosi 12 ECTS bodova) stječu zvanje
        Bachelor of Electrical Engineering (Inženjer elektrotehnike). Nakon toga
        oni se mogu zaposliti ili nastaviti studij na drugom ciklusu koji traje
        dvije godine i koji omogućuje stjecanje zvanja Master of Engineering
        (Diplomirani inženjer). Za stjecanje ovog zvanja potrebno je postići
        novih 120 ECTS bodova.
      </p>
      <p>
        Nakon završetka prvog (dodiplomskog) i drugog (diplomskog) ciklusa
        student se može zaposliti ili nastaviti studij u okviru trećeg
        (postdiplomskog) ciklusa, koji traje tri godine (180 ECTS bodova) i koji
        omogućuje stjecanje naučne titule doktor tehničkih nauka.
      </p>

      <p>
        Treći ciklus studija na Elektrotehničkom fakultetu bit će organiziran
        počev od akademske 2010/2011 do kada će drugi ciklus završiti studenti
        prve generacije studija ETF-B.
      </p>

      <p>
        U cilju međunardne verifikacije i priznavanja kvalitete svojih nastavnih
        programa Fakultet se intenzivno priprema za njihovo akreditiranje od
        strane neke od renomiranih Europskih agencija. U tu svrhu je tokom
        zimskog semestra tekuće akademske godine izvršena testna aktreditacija
        nastavnog programa I ciklusa na Odsjeku za računarstvo i informatiku kod
        poznate njemačke akreditacijske agencije ASIIN (vidjeti na sljedećem
        <a href="https://www.asiin.de/en/home.html">linku</a>)
      </p>

      <p>
        Osim aktivnosti u svojoj osnovnoj edukativnoj djelatnosti,
        Elektrotehnički fakultet je od svog osnutka pa sve do danas bio i ostao
        mjesto intenzivnog naučnoistraživačkog rada i ostalih aktivnosti vezanih
        za promociju nauke i tehnologije.
      </p>

      <p>
        Fakultet je posjedovao niz laboratorija u okviru svoje predratne
        lokacije u Lukavici, gdje su se realizirali mnogi istraživački i
        razvojni projekti koji su direktno ugovarani sa fondovima za naučni rad
        na republičkom i saveznom nivou, kao i sa industrijskim gigantima kao
        što su bili Energoinvest, Elektroprivreda BiH, Unis, Famos i drugi.
      </p>

      <p>
        Fakultet je također realizirao i niz istraživačko razvojnih projekata za
        tadašnje Sizove za naučni rad i na Saveznom i Republičkom nivou, a bio
        je u periodu od 1985-1991 nosilac nekoliko velikih projekata koji su
        imali oznaku DC (Društveni ciljevi) i imali su značajna sredstva i
        budžet za višegodišnja istraživanja i razvoj u okviru tadašnje države
        Jugoslavije.
      </p>

      <p>
        U godinama nakon rata, počev od 1996., Fakultet uspjeva da se povrati i
        u sferu istraživanja i razvoja i do danas realizira preko 80
        istraživačkih projekata i studija za renomirane partnere kao što su: JP
        Elektroprivreda BiH, JP BH Telecom , Energoinvest, RMU Banovići, DD
        Tvornica cementa Kakanj, HT Mostar, Bosna-S i drugi.
      </p>

      <p>
        Njegovi nastavnici i saradnici u stalnom i dopunskom radnom odnosu su
        vrlo aktivni i u naučno istraživačkom i stručnom radu, i pored skromnih
        laboratorijskih resursa kojima Fakultet danas raspolaže.
      </p>

      <p>
        U periodu do rata njegovi saradnici radeći u tadašnjim istraživačko
        razvojnim centrima u Energoinvestu, Unisu, Elektroprivredi BiH, Famosu i
        drugim, su podnjeli i dobili verifikaciju i priznanje za preko 20
        patenata u svijetu.
      </p>

      <p>
        Trenutno se na Fakultetu realizira 8 projekata za Kantonalno
        ministarstvo obrazovanja i nauke Kantona Sarajevo, 4 projekta za
        Federalno ministarstvo obrazovanja i nauke , 2 projekta se realiziraju u
        međunarodnoj naučnoj saradnji u okviru FP6, jedan projekt je u okviru FP
        7 projekata Evropske unije, 2 projekta u okviru Tempus-a , kao i 5
        projekata za naručioce iz privrede i industrije sa kojima Fakultet ima
        ugovore o poslovno tehničkoj saradnji. Više podataka o ovim projektima
        se može naći na Web portalu ETF-a na <a href="www.etf.unsa.ba">linku</a>.
      </p>

      <p>
        Elektrotehnički fakultet je i organizator medjunardnih naučnih skupova i
        simpozija, koji su nasljednici poznatog i tada vrlo referentnog
        Simpozija koji se održavo na Jahorini i bio posvečen informacionim
        tehnologijama, i to :
      </p>

      <p>
        - BIHTEL, bijenalni simpozij iz oblasti telekomunikacija (parne godine)
        <br>- ICAT, bijenalni simpozij iz oblasti informacionih, komunikacionih i
        automatizacionih tehnologija (neparne godine)
      </p>
      <p>
        Njegovi nastavnici i saradnici, iako radeći sa skromnim materajalnimi i
        finansijskim resursima za naučno-istraživački rad, uspjevaju da prate i
        aktivno sudjeluju u istraživanjima objavljujući svoje naučne i strućne
        radove u časopisima i na naučnim skupovima i sa medjunarodnim
        recenzijama koje su uvedene u priznate referentne baze podataka.
      </p>

      <p>
        Tako je, samo u periodu posljednje dvije godine 2006 i 2007, objavljeno
        ili podneseno ukupno preko 30 radova koji se nalaze u referentnim bazama
        podataka koje su verificirane kao takve na Senatu Univerziteta u
        Sarajevu. Ove referentne baze uključuju : CC, SCI, ACM Digital Library,
        IEEEXplore, INSPEC, Elsevier: Compendex database, Engineering Index,
        Science Direct, Scopus: zatim Information Science Abstracts , Energy
        Science and Technology, ISI Proceedings i iz oblasti matematskih nauka
        Zentralblatt Math I MathSciNet.
      </p>

      <p>
        Od značajnijih međunarodnih asocijacija u kojima sudjeluje
        Elektrotehnički fakultet u Sarajevu treba spomenuti članstvo u HP-SUA
        (Hewlett Packard Software University Association), zatim značajno učešće
        njegovih nastavnika i asistenata u IEEE sekciji za Bosnu i Hercegovinu
        kao i dva chaptera u okviru ove sekcije koji su upravo i osnovana na
        ovom Fakultetu.
      </p>
    </div>
    <app-additional-navigation
      [routes]="additionalRoutes"
    ></app-additional-navigation>
  </div>
</div>
