@import "../../../variables";

.banner {
  padding: 0 5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;

  .faculty-img {
    border-radius: 5px;
    box-sizing: border-box;
    left: -5vw;
    border: 2px solid mat-color($app-accent);
    object-fit: cover;
    width: 100%;
    height: 700px;
    object-position: right;
    z-index: -1;

    @media (max-width: 768px) {
      left: 0;
      height: 400px;
    }

    @media (max-width: 600px) {
      left: 0;
      height: 300px;
    }
  }

  .brief {
    position: absolute;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: mat-color($app-accent, A200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 10vw;
    padding: 30px;
    max-width: 300px;
    border: 3px solid mat-color($app-primary);
    h1 {
      color: mat-color($app-primary);

      @media (max-width: 768px) {
        text-align: center;
      }
    }

    p {
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    .learn-more {
      text-align: right;
      margin-top: 20px;
      a {
        border-radius: 5px;
        @include hover-transition();
        padding: 10px 20px;
        text-decoration: none;
        border: 2px solid mat-color($app-primary);
        background-color: mat-color($app-primary);
        color: white;

        &:hover {
          color: mat-color($app-primary);
          background-color: mat-color($app-primary, 50);
        }

        @media (max-width: 768px) {
          padding: 10px 30px;
        }
      }
      @media (max-width: 768px) {
        text-align: center;
      }
    }

    @media (min-width: 1500px) {
      left: 200px;
    }

    @media (max-width: 920px) {
      max-width: 35vw;
    }

    @media (max-width: 768px) {
      right: 0;
      left: 0;
      margin: auto;
      top: 350px;
      width: 85vw;
      min-width: 255px;
      max-width: none;
      border: 2px solid mat-color($app-primary);
    }

    @media (max-width: 600px) {
      top: 250px;
    }

    @media (max-width: 300px) {
      margin: 0;
      left: 22.5px;
      top: 250px;
    }
  }

  @media (max-width: 768px) {
    display: block;
    &:after {
      display: block;
      content: "";
      height: 25vw;
    }
  }

  @media (max-width: 600px) {
    &:after {
      height: 40vw;
    }
  }

  @media (max-width: 450px) {
    &:after {
      height: 60vw;
    }
  }

  @media (max-width: 350px) {
    &:after {
      height: 80vw;
    }
  }

  @media (max-width: 300px) {
    &:after {
      height: 250px;
    }
  }

  @media (max-width: 768px) {
    min-height: 400px;
  }

  @media (max-width: 600px) {
    min-height: 300px;
  }
}