<ul>
  <li class="nav-item">
    <button mat-button (click)="handleNavClick('/o-fakultetu')" [disableRipple]="true">
      O fakultetu
    </button>
  </li>
  <li class="nav-item">
    <button mat-button (click)="handleNavClick('/studij')" [disableRipple]="true">
      Studij
    </button>
  </li>
  <li class="nav-item">
    <button mat-button (click)="handleNavClick('/odsjeci')" [disableRipple]="true">
      Odsjeci
    </button>
  </li>
  <li class="nav-item">
    <button mat-button (click)="handleNavClick('/naucni-rad')" [disableRipple]="true">
      Naučni rad
    </button>
  </li>
</ul>
