<ul>
  <li class="nav-item">
    <button mat-button (click)="handleNavClick($event)" [disableRipple]="true">
      O fakultetu
    </button>
  </li>
  <li class="nav-item">
    <button mat-button (click)="handleNavClick($event)" [disableRipple]="true">
      Studij
    </button>
  </li>
  <li class="nav-item">
    <button mat-button (click)="handleNavClick($event)" [disableRipple]="true">
      Odsjeci
    </button>
  </li>
  <li class="nav-item">
    <button mat-button (click)="handleNavClick($event)" [disableRipple]="true">
      Naučni rad
    </button>
  </li>
</ul>
