<ul>
  <li class="nav-item" *ngIf="shoudHaveHomePageLink" (click)="handleNavClick()">
    <a routerLink="/">Početna</a>
  </li>
  <li class="nav-item">
    <a routerLink="/o-fakultetu" (click)="handleNavClick()">
      O Fakultetu
    </a>
  </li>
  <li class="nav-item" (click)="handleNavClick()">
    <a routerLink="/studij" >
      Studij
    </a>
  </li>
  <li class="nav-item" (click)="handleNavClick()">
    <a routerLink="/odsjeci">
      Odsjeci
    </a>
  </li>
  <li class="nav-item" (click)="handleNavClick()">
    <a routerLink="/naucni-rad">
      Naučni rad
    </a>
  </li>
</ul>
