<div class="flex-container">
  <div class="title">
    <app-breadcrumbs
      [routes]="routes"
      [currentRoute]="'Bologna'"
    ></app-breadcrumbs>
    <h1>Bologna</h1>
  </div>
  <div class="content-container">
    <div class="main-content">
      <h2>Odsjeci na Elektrotehničkom fakultetu</h2>
      <p>
        Više informacija o ponuđenim studijima za Bachelor i Master na
        Elektrotehničkom fakultetu možete dobiti na sljedećem
        <a routerLink="/odsjeci">linku</a>.
      </p>
      <h2>ECTS Dokumenti</h2>
      <p>
        Ugovor o učenju na matičnoj instituciji (Domestic learning agreement) je
        ugovor koji studenti potpisuju sa matičnom institucijom (fakultetom, u
        ovom slučaju Elektrotehnički fakultet Sarajevo) i dužni su popuniti i
        predati po jedan primjerak po godini, a prilikom upisa u svaku godinu
        studija.
      </p>

      <p>
        Dodatak ovom Ugovoru, su popunjene tabele predmeta, koje su studenti
        odlučili slušati u određenom semestru određene godine studija. Studenti
        su dužni popuniti po jednu kopiju ovih tabela po semestru studija, te
        iste predati prilikom upisa godine.
      </p>

      <p>
        Popunjeni Ugovor za prvu godinu studija (zajedno sa tabelama predmeta)
        možete preuzeti klikom na sljedeći <a>link</a>.
      </p>

      <p>
        Za ostale godine studija (opšta verzija) Ugovor se nalazi na sljedećem
        <a>linku</a> (.doc) odnosno <a>.PDF verzija istog</a>, dok nepopunjene
        tabele predmeta možete preuzeti klikom na sljedeći <a>link</a> (.doc)
        odnosno <a>.PDF verzija iste</a>.
      </p>

      <h2>Upis na Elektrotehnički fakultet</h2>
      <p>
        Uslovi za upis na fakultet su završena srednja škola u četvorogodišnjem
        trajanju i položen kvalifikacioni ispit. Prije kvalifikacionog ispita na
        fakultetu se organizuje pripremna nastava iz matematike, a infomacije o
        tačnom terminu održavanja pripremne nastave će se moći dobiti u
        Studentskoj službi fakulteta.
      </p>

      <p>
        Za školsku 2002/03 godinu je bio konkurs za ukupno 220 kandidata za upis
        u prvu godinu, od kojih je 120 kandidata bilo za redovni studij (i za
        ove kandidate troškove upisa participira Kantonalna Vlada) i 100
        kandidata za paralelni studij (za koje su troškovi upisa bili 1500 KM za
        prvu godinu). Koliko će biti za narednu, 2003/04 godinu, još nije
        određeno, a odluku donosi ministarstvo obrazovanja Kantona Sarajevo na
        prijedlog Senata Univerziteta u Sarajevu. Konkurs za upis na fakultete
        Univerziteta se objavljuje u dnevnoj štampi polovinom juna mjeseca.
      </p>
      <p>
        Za ostale informacije nas možete
        <a routerLink="/o-fakultetu/kontakt">direktno kontaktirati</a>.
      </p>
      <h2>Kriteriji za rangiranje kandidata</h2>
      <p>
        Rangiranje kandidata i prijem studenata u I godinu studija, šk.2003/04
        godine, vršiće se u zavisnosti od broja bodova koje kandidat osvoji na
        osnovu sljedećih kriterija: <br />
        <span class="emphasis">1.</span> Opći uspjeh - broj bodova po osnovu
        općeg uspjeha iznosi maksimalno 40, a utvrđuje se tako da se prosječna
        ocjena iz svih predmeta u svim razredima, zaokružena na jednu decimalu,
        pomnoži sa 8. <br />
        <span class="emphasis">2.</span> Uspjeh iz maternjeg jezika, fizike i
        matematike - kandidat dobija broj bodova tako da se za maternji jezik i
        matematiku izračuna srednja ocjena iz sve četiri godine, a za fiziku za
        dvije zadnje godine koje je kandidat slušao, zatim izračuna srednja
        ocjena iz sva tri predmeta, i tako dobijena ocjena pomnoži sa 4.
        /Maksimalni broj bodova po ovom kriteriju je 20/. <br />
        <span class="emphasis">3.</span> Rezultati na kvalifikacionom ispitu iz
        matematike - kandidat dobija broj bodova koji je osvojio na
        kvalifikacionom ispitu. Maksimalni broj bodova po ovom kriteriju je 40.
        <br />
        <span class="emphasis">4.</span> Rezultati ostvareni na takmičenjima -
        kandidat dobija broj bodova saglasno članu 6 Konkursa za upis studenata
        u prvu godinu studija na visokoškolske ustanove Univerziteta u Sarajevu
        u Šk.2003/04 godini, gdje se uzimaju u obzir takmičenja iz matematike,
        fizike, informatike, te «Smotre stvaralaštva» koje je organizovalo
        Ministarstvo obrazovanja, nauke i informisanja Kantona Sarajevo. <br />
        <span class="emphasis">5. </span> Posebno priznanje «Učenik generacije»
        - kandidat dobija 10 bodova.
      </p>
      <p>
        <span class="emphasis">Napomena:</span> Svi kandidati koji konkurišu za
        upis na redovni i /ili paralelni studij, polažu kvalifikacioni ispit iz
        matematike.
      </p>
      <h2>Pravilnik o završnim radovima na Bachelor studiju</h2>
      <p>Pravilnik možete preuzeti sa sljedećeg <a>linka</a>.</p>
      <h2>Pravila za prijavu i odbranu završnog rada na Master studiju</h2>
      <p>Pravilnik možete preuzeti sa sljedećeg <a>linka</a>.</p>
      <h2>Informacije i dokumenti vezani za PHD studij</h2>
      <p>
        Za prijavu i odbranu doktorske disertacije na Elektotehničkom fakultetu
        Sarajevo, pored opštih pravila utvrđenih Zakonom i pravilima
        Univerziteta u Sarajevu, procedura se mora obaviti u skladu sa
        Pravilnikom o postupku podnošenja i prihvatanja teme doktorskog rada na
        Elektrotehničkom fakultetu u Sarajevu.
      </p>

      <p>
        Pravilnik možete preuzeti na sljedećem <a >linku</a>.
      </p>

      <p>
        Takodjer, doktorske disertacije kao i magistarske teze, moraju biti
        uskladjene sa Pravilnikom o strukturi i sadržaju doktorske disertacije i
        magistarskog rada na ETF-Sarajevo koji možete preuzeti na slijedećem
        <a>linku</a>.
      </p>
      <p><a>Odluka o cijeni trećeg cikulusa studija na ETF-Sarajevo </a></p>
      <p>
        <a>Odluka o cijeni trećeg ciklusa studija za saradnike ETF-Sarajevo </a>
      </p>
      <p>
        <a
          >Odluka o poništenju Odluke o cijeni trećeg ciklusa studija za
          saradnike ETF-Sarajevo
        </a>
      </p>
      <p>
        <a> Plan i program studija </a>
      </p>
    </div>
    <app-additional-navigation
      [routes]="additionalRoutes"
      [currentRouteIndex]="0"
    ></app-additional-navigation>
  </div>
</div>
