@import "../../../variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 5%;

  h1 {
    color: mat-color($app-primary);
    font-size: 80px;
    font-weight: 600;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 40px;
    }
  }
  div {
    padding: 20px 0;

    a {
      color: mat-color($app-primary);
      cursor: pointer;
      text-decoration: none;
      @include hover-transition();

      &:hover {
        color: mat-color($app-accent, 600);
      }
    }

    @media (max-width: 768px) {
      padding: 10px 0;
    }
  }
}
