<div class="helpful-links-wrapper">
  <h1>Korisni linkovi</h1>
  <div class="cards">
    <div class="card">
      <h3>Kako i zašto upisati ETF</h3>
      <p>
        Saznajte kako i zašto upisati ETF, koje su prednosti i perspektive Vas
        kao studenta i kasnije kao inženjera
      </p>
      <div class="learn-more"><a href="http://upis.etf.unsa.ba/">Saznaj više</a></div>
    </div>

    <div class="card">
      <h3>
        Bologna Studij
      </h3>
      <p>
        Saznajte više o studiju na ETF-u prema Bolonjskom procesu
      </p>
      <div class="learn-more"><a routerLink="/studij">Saznaj više</a></div>
    </div>

    <div class="card">
      <h3>Odsjeci</h3>
      <p>
        Saznajte više o odsjecima, djelatnostima, saradnicima, nastavnom i
        naučnom radu
      </p>
      <div class="learn-more"><a routerLink="/odsjeci">Saznaj više</a></div>
    </div>

    <div class="card">
      <h3>Život na ETF-u</h3>
      <p>
        Saznajte više o partnerskim organizacijama i studentskim projektima
      </p>
      <div class="learn-more"><a routerLink="/organizacije">Saznaj više</a></div>
    </div>

    <div class="card">
      <h3>
        Projekti mobilnosti
      </h3>
      <p>
        Saznajte više o mobilnosti akademskog i stručnog osoblja i studenata na
        UNSA fakultetima
      </p>
      <div class="learn-more"><a href="http://www.erasmus.unsa.ba/">Saznaj više</a></div>
    </div>
  </div>
</div>
