<div class="flex-container">
  <div class="title">
    <app-breadcrumbs
      [routes]="routes"
      [currentRoute]="'Partnerske organizacije'"
    ></app-breadcrumbs>
    <h1>Partnerske organizacije</h1>
  </div>
  <div class="content-container">
    <div class="main-content">
      <h2>IEEE Bosna i Hercegovina</h2>
      <p>
        Drage kolege
      </p>

      <p>
        Kao što možete videti iz priloženog pisma koga sam dobila početkom
        januara, Bosansko-hercegovačka sekcija je konačno odobrena. Svima
        čestitam, a posebno se zahvaljujem bivšoj predsjednici studenskog IEEE
        ogranka u Sarajevu Sabini Dacic, koja je uložila veliko vreme i trud da
        prikupi potpise na peticiji i proširi članstvo IEEE. Takođe se
        zahvaljujem članovima hrvatske sekcije IEEE koji su veoma pomogli svojim
        savetima u preocesu formiranja sekcije.
      </p>

      <p>
        Kao što vidite iz priloženog pisma, potrebno je da provedemo izbore.
        Izborne funkcije su predsjednik, sekretar, zamenik predsjednika i
        blagajnik. Prema priručniku za rad sekcija (RAB manual) koga možete naći
        na sajtu IEEE, prvo je potrebno da se oglasi da su ove pozicije otvorene
        i da se uputi poziv za kandidiranje. Da bi se neko kandidirao, potrebno
        je da ga potpisom podrži 1% članstva, a u našem slučaju je to samo jedan
        član, jer je u decembru bilo oko 90 redovnih članova. Kandidati mogu
        biti redovni članovi i postdiplomski studenti, no ne i studenti
        dodiplomskog studija. Dužnosti koje nose ove pozicije takođe su date u
        RAB. Ovim putem vas molim da podnesete svoje kandidature. Formulare
        možete naći na IEEE site, a mozete ih poslati na ETF putem fax-a (033
        250 725) sa naznakom "za IEEE". Prijave treba podneti u roku od jednog
        meseca od dobijanja ovog pisma.
      </p>

      <p>
        Sastanak članstva će se održati početkom marta. Uskoro ćete dobiti
        dnevni red i termin.
      </p>

      <h2>Electrical Engineering STudents European assoCiation (EESTEC)</h2>
      <p>
        EESTEC (engl. Electrical Engineering STudents' European assoCiation –
        EESTEC) je udruženje studenata elektrotehnike Evrope. Udruženje je
        osnovano 1986. godine u Eindhovenu, Holandija.
      </p>
      <p>
        Od tada su pokrenuta 54 lokalna komiteta na fakultetima u gradovima
        širom Evrope i taj broj se neprestano povećava. Osnovni cilj EESTEC-a je
        promocija i razvoj međunarodnih kontakata između studenata i
        profesionalaca u oblasti elektrotehnike. Također, razmjena ideja i
        iskustava iz oblasti elektrotehnike i kompjuterskih nauka te unapređenje
        tehničkog znanja studenata elektrotehnike omogućeno je kroz: stručne
        radionice, razmjene, stručne prakse i ostale aktivnosti.
      </p>
      <p>
        EESTEC pruža poslovne mogućnosti i internacionalnu karijeru svim
        članovima lokalnih komiteta, a jedan od koraka koji idu ka ostvarenju
        ovog cilja je formiranje jedinstvene baze podataka studenata
        elektrotehnike iz cijele Evrope, kako bi internacionalne kompanije mogle
        lakše pronaći i specijalizirati studente u vrhunske inženjere kroz rad u
        njihovom poslovnom okruženju.
      </p>
      <p>
        Kao jedan od respektabilnijih i aktivnijih lokalnih komiteta u sklopu
        EESTEC Internationala, LC Sarajevo se može pohvaliti velikim brojem
        organizovanih projekata, kako na lokalnom nivou, tako i na
        internacionalnom. EESTEC se trudi svake godine da organizuje što veći
        broj visokokvalitetnih projekata koji studentima pomažu da razviju svoje
        društvene i profesionalne sposobnosti, ali i da upoznaju studente i
        ugledne poslovne ljude iz cijele Evrope.
      </p>
      <p>
        Više o Udruženju možete pročitati na web stranici samog Udruženja -
        <a href="http://eestec-sa.ba/">eestec-sa.ba</a>
      </p>
    </div>

    <app-additional-navigation
      [routes]="additionalRoutes"
    ></app-additional-navigation>
  </div>
</div>
